### Conditional statements

In [ ]:
#syntax
if condition:
    statements
else:
    statements

In [1]:
# given number is positive or negative or zero
n=int(input())
if n==0:
    print(n,'zero')
elif n>0:
    print(n,'positive')
else:
    print(n,'negative')

56
56 positive

In [15]:
#check whether given number is divisible by 2 but not 10
a=int(input())
if a%2 is 0 and a%10 is not 0:
    print("valid number")
else:
    print("invalid number")

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?

46
valid number

<ipython-input-15-a2bc891c46c4>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if a%2 is 0 and a%10 is not 0:
<ipython-input-15-a2bc891c46c4>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if a%2 is 0 and a%10 is not 0:

### Iterations (for,while)

In [ ]:
#syntax for integers
for variable in range(start,end,step):
    statements

In [ ]:
#syntax for string
for variable in "string":
    statements

In [5]:
# print the values from 1 to 10
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [6]:
for i in range(1,10,2):
    print(i,end=" ")

1 3 5 7 9

In [8]:
#print the values 1 to 10 and sum of 10 numbers
a=int(input())
b=int(input())
s=0
for i in range(a,b):
    s+=i
    print(i)
print("sum is:",s)

1
10
1
2
3
4
5
6
7
8
9
sum is: 45

In [11]:
# print the even numbers with in the range
for i in range(1,10):
    if i%2==0:
        print(i,end=" ")

2 4 6 8

In [13]:
# print table
n=int(input())
for i in range(1,11):
    print(n,"*",i,"=",n*i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [14]:
# multiple tables
x=int(input("enter lower bound value"))
y=int(input("enter lower bound value"))
for i in range(x,y+1):
    for j in range(1,11):
        print(i,"*",j,"=",i*j)
    print()

enter lower bound value1
enter lower bound value6
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [17]:
# print the even numbers range in between 0 to 100 and even number count
count=0
for evennum in range(1,100+1,2):
    count=count+1
    print(evennum,end=' ')
print("\nTotal even numbers are:",count)

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99
Total even numbers are: 50

In [19]:
count=0
for i in range(1,100+1):
    if i%2==0:
        count=count+1
        print(i,end=' ')
print("\nTotal even numbers are:",count)

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100
Total even numbers are: 50

In [24]:
#generate the all leap years in the range of 2000 to 2020
st=int(input())
en=int(input())
c=0
for year in range(st,en+1):
    if (year%400==0 or (year%100!=0 and year%4==0)):
        c=c+1
        print(year,end=" ")
print("\n Total years count:",c)

2000
2020
2000 2004 2008 2012 2016 2020
 Total years count: 6

In [25]:
ord("a")

97

In [26]:
#i/p aba
#o/p 292
a=input()
s=0
for i in a:
    s=s+ord(i)
print(s)

aba
292

In [27]:
#Factors 10-->1,2,5,10
n=int(input())        #10
for i in range(1,n+1): #i=1     i=2   i=3     i=4    i=5   i=10
    if(n%i==0):      #10%1==0(T)   10%2==0(T)  10%3==0(F)  10%5==0(T)
        print(i,end=" ")

10
1 2 5 10

In [28]:
#Check the given num is Prime num or not
n=int(input())     #5
c=0
for i in range(1,n+1):  #i=1  i=2   i=3  i=4   i=5
    if(n%i==0):  #5%1==0(t)   5%2==0(f)    5%5==0(t)
        c+=1       #1     2
if(c==2):
    print(n,"is prime num")
else:
    print(n,"is not a prime num")

7
7 is prime num

In [29]:
#i/p:st=1
#ep:10
#o/p:Even nums are:2 4 6 8 10
#    Odd nums are:1 3 5 7 9
s=int(input())
e=int(input())
print("Even nums are:",end=" ")
for i in range(s,e+1):
    if(i%2==0):
        print(i,end=" ")
print("\nOdd nums are:",end=" ")
for i in range(s,e+1):
    if(i%2!=0):
        print(i,end=" ")

6
8
Even nums are: 6 8
Odd nums are: 7

In [31]:
s=int(input())
e=int(input())
print("Even nums are:",end=" ")
for i in range(s,e+1):
    if(i%2==0):
        print(i)
    else:
        print(i)

1
10
Even nums are: 1
2
3
4
5
6
7
8
9
10

#### While
- it executes block or set of instructions until the condition is false
- while we dont the range(range unknown)
- Execution is fast compared to for.
- User incrementation

In [ ]:
#while syntax:
initization
while condition:
    statement
    incre/decre

In [34]:
n=2
while n<=5:
    print("Thankyou")
    n=n+1

Thankyou
Thankyou
Thankyou
Thankyou

In [33]:
i=10
while i>=1:
    print(i,end=" ")
    i=i-1

10 9 8 7 6 5 4 3 2 1

In [35]:
#i/p:7864
#o/p:digits count:4
n=int(input())   #7864
c=0
while(n!=0):     #7864!=0     786!=0      78!=0     7!=0    0!=(f)
    #rem=n%10    #7864%10=4   786%10=6    78%10=8    7%10=7
    c=c+1       #1             2           3         4
    n=n//10      #7864//10=786   786//10=78   #78//10=7   7//10=0
print("Digits count:",c)

78890978
Digits count: 8

In [ ]:
10)7864(786         10)786(78
   7860                780
 --------           --------
      4-->rem             6-->rem

In [36]:
#palindrome  i/p:121   o/p:121
n=int(input())   #7864
temp=n 
rev=0
while(n!=0):  #7864!=0   786!=0    78!=0    7!=0  0!=0(f)
    rem=n%10 #4         6          8        7
    rev=rev*10+rem #4  46         468     4687
    n=n//10      #786  #78     78//10=7   7//10=0
if(temp==rev):
    print("Given num is palindrome")
else:
    print("Given num is not a palindrome")

121
Given num is palindrome

#### Nested for
- for loop inside for loop(loop within loop)
- outer loop &innerloops

In [ ]:
#syntax:
for var in range(start,end,step):
    for var in range(start,end,step):
        statements

In [ ]:
#matrix format
- row & columns
- 2dimensions:row&columns
  1 2 3
  5 6 7

In [ ]:
for row in range(1,5):  #4rows  row=1   row2   row3
    for col in range(1,5):   #4col row=1 col=1 row=1col=2
        print(row,end=" ")
    print()  #new line

In [38]:
for row in range(1,6):
    for col in range(1,8):
        print("*",end=" ")
    print()

* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *

In [39]:
for row in range(1,6):   #row=1  r=2   r=3   r=4   r=5
    for col in range(1,row+1): #r=1 c=1   r=2c=1   r=2c=2  
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [40]:
for row in range(5,0,-1): #r=5   r=4   r=3    r=2   r=1
    for col in range(1,row+1): #r=5 c=1  r=5 c=2  r=5 c=3  r=5 c=2 r=5 c=1
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [41]:
for row in range(1,6):   #row=1  r=2   r=3   r=4   r=5
    for col in range(1,row+1): #r=1 c=1   r=2c=1   r=2c=2  
        print("*",end=" ")
    print()
for row in range(5,0,-1): #r=5   r=4   r=3    r=2   r=1
    for col in range(1,row+1): #r=5 c=1  r=5 c=2  r=5 c=3  r=5 c=2 r=5 c=1
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

In [42]:
#Print the prime numbers within the range(1 to 100)
st,ed=int(input()),int(input())
for num in range(st,ed+1):  #num=1 num=2  n=3  n=4 
    c=0
    for val in range(1,num+1): #(1,1)   (1,2)
        if num%val==0:   #factors
            c+=1    #factors count
    if c == 2:
        print(num,end=" ")

1
100
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
#Nested while
- loop inside loop

In [ ]:
#Syntax:
inilization
while condition:
    statement
    incre/decre
    while condition:
        statement
        incre/decre

In [43]:
#1 to 10numbera table
i=1
while(i<=10):   #i=1   i=2  i=3
    j=1
    while(j<=10): #i=1j=1  i=1j=2   i=2 j=1   i=2j=2
        print(i,"*",j,"=",i*j)
        j+=1
    print()
    i+=1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

#### Jump Statements
- we may call it as unconditional jumps
- Break
- Continue
- Pass
##### Break
- Terminates the cuurent loop statement and resumes execution at the next statement
- Break is a keyword

In [44]:
for i in 'python':
    if i=='h':
        break
    print(i)

p
y
t

In [45]:
num=1
while num<=10:
    print(num,end=" ")
    if num==6:
        #print("Break executed")
        break
        print("Break executed")
    num+=1

1 2 3 4 5 6

#### Continue Statement:
- It skips only current iteration and continue the next iterations
- Contiune is also a keyword

In [46]:
for i in range(10):
    if i==6:
        continue
        print("fdp")
    print(i)

0
1
2
3
4
5
7
8
9

In [47]:
#print odd nums using even number logic
for num in range(1,10):
    if num%2==0:   #even condition
        continue   #continues
    print(num,end=" ")

1 3 5 7 9

#### Pass
- Pass is a keyword
- when we need condtion syntatically correct,butnwe need to change any other operation .
- it is a null operation
- continue with jump back to the loop,but pass will contiune the processingg
- pass statement we use to create empty classes also

In [48]:
s='python'
for i in s:
    if i=='h':
        pass
        print("pass executed")
    print(i)

p
y
t
pass executed
h
o
n

#### Strings
- Collection of items or group of characters
- It is a derived datatype and immutable(unchangable- once defined they cannt be changed)
- String is most popular type in python.we are simply create by using enclosing character in quations('' or "")
- All strings return new values,but they cannot change the original string

In [49]:
a="string"
print(type(a))

<class 'str'>

In [50]:
print(len(a))
print(min(a))
print(max(a))
print(sorted(a))
print(sum(a))

6
g
t
['g', 'i', 'n', 'r', 's', 't']

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [51]:
s="python"
s1="workshop"
print(s+s1)
print(s,s1)
print(s*3)  #repetation

pythonworkshop
python workshop
pythonpythonpython

In [52]:
#Slicing(start:ending:step)
#Positive indexing(left to right)
s="python workshop"
print(len(s))
print(s[0])
print(s[10])

15
p
k

In [53]:
s
print(s[0:6])
print(s[:])
print(s[:10])
print(s[7:])
print(s[::2])
print(s[1::4])

python
python workshop
python wor
workshop
pto okhp
ynro

#### List
- list is a ordered and mutable data structure
- it is represented with []

In [1]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [12]:
li=[1,2,3,4,5]
li1=['pink','green','orange']
li2=[10.24,20,'mango,23,25.7']

In [13]:
print(li)
print(li1)
print(li2)

[1, 2, 3, 4, 5]
['pink', 'green', 'orange']
[10.24, 20, 'mango,23,25.7']

#### adding new elements to a list
- append()--->we can add one element at a time
- extend()--->this will allows us to add multiple elements at atime to a list

In [14]:
#65
li.append(65)
li

[1, 2, 3, 4, 5, 65]

In [16]:
li.append(32)
li

[1, 2, 3, 4, 5, 65, 32, 32]

In [22]:
l1=[1,2]
print(l1)
l1.extend([5,'six',7,'eight'])
l1

[1, 2]

[1, 2, 5, 'six', 7, 'eight']

In [23]:
print(len(l1))

6

In [25]:
l=[1,2]
print(l)
l.append([5,'six',7,'eight'])
l

[1, 2]

[1, 2, [5, 'six', 7, 'eight']]

In [26]:
len(l)

3

In [27]:
# insert--->if we want to add an element at a particular index position
colors=['yellow','white','black']
# maroon, 1 index
colors.insert(1,'maroon')

In [28]:
colors

['yellow', 'maroon', 'white', 'black']

In [30]:
colors[1]

'maroon'

In [31]:
colors.insert(0,1000)

In [32]:
colors

[1000, 'yellow', 'maroon', 'white', 'black']

In [33]:
# by using index positions we can add elements in the middle of the list
colors[3]='purple'
print(colors)

[1000, 'yellow', 'maroon', 'purple', 'black']

# deletion 
- remove()
- clear()
- pop()-->it will remove the every last element

In [36]:
colors

[1000, 'yellow', 'maroon', 'purple', 'black']

In [37]:
colors.pop()

'black'

In [38]:
colors

[1000, 'yellow', 'maroon', 'purple']

In [39]:
colors.pop()

'purple'

In [40]:
colors

[1000, 'yellow', 'maroon']

In [41]:
#remove-delete any particular element
colors.remove(1000)

In [42]:
colors

['yellow', 'maroon']

In [45]:
# clear()-->it will remove all the elements and leave the list empty
colors
colors.clear()

In [46]:
colors

[]

In [48]:
p=[12,13]
del p
p

NameError: name 'p' is not defined

In [49]:
# index()---> to know the index positions of a particular element
# count()-->to know the occurances of an element
# copy()-->to make a second list with the same elements
# reverse()-->to reverse list
# sort()--> to sort the list

In [52]:
n=[98,45,2,3,7,30,28,36,87,103]
# index value of
n.index(7)
n.index(103)

9

In [53]:
n.count(36)

1

In [54]:
n

[98, 45, 2, 3, 7, 30, 28, 36, 87, 103]

In [55]:
n1=n.copy()
n2=n
n1

[98, 45, 2, 3, 7, 30, 28, 36, 87, 103]

In [56]:
n2

[98, 45, 2, 3, 7, 30, 28, 36, 87, 103]

In [57]:
# reverse
s=[1,2,3,4,5,6]
s.reverse()

In [58]:
s

[6, 5, 4, 3, 2, 1]

In [59]:
s[::-1]

[1, 2, 3, 4, 5, 6]

In [60]:
p='vansh'
p[::-1]

'hsnav'

In [61]:
p

'vansh'

In [62]:
n=[2,7,80,34,67,45,12,7,90]
n.sort() # ascending order

In [63]:
n

[2, 7, 7, 12, 34, 45, 67, 80, 90]

In [64]:
# second max
# 5th min value
# 5th max value
n.sort(reverse=True)
n

[90, 80, 67, 45, 34, 12, 7, 7, 2]

### Tuples
- we represented a tuple by ()
- indexing and slicing are possible
- it is a immutable data structure

In [65]:
t=(1,2,3,4)
print(t)

(1, 2, 3, 4)

In [66]:
t[0]

1

In [67]:
t[3]

4

In [68]:
t[:4]

(1, 2, 3, 4)

In [69]:
t[2]

3

In [71]:
t[1:3]

(2, 3)

In [72]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [74]:
# count() --->
# index()-->
t.count(2)

1

In [75]:
t.index(2)

1

In [76]:
a=(12,13,14)
a1=list(a)

In [77]:
a1

[12, 13, 14]

In [78]:
a1.extend([15,16])

In [79]:
a1

[12, 13, 14, 15, 16]

In [80]:
a=tuple(a1)
print(type(a))
print(a)

<class 'tuple'>
(12, 13, 14, 15, 16)

In [81]:
b=6,7,8,9,10
type(b)

tuple

### sets
- it is immutable data structure and un-ordered
- indexing and slicing are not possible 
- represented {} or set()

In [82]:
s={9,4,7,4,2,3,5}
print(s)

{2, 3, 4, 5, 7, 9}

In [83]:
dir(set())

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [84]:
a={1,2,3,4,5,6,7}
b={8,9,3,4,5,1,9}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [85]:
a.intersection(b)

{1, 3, 4, 5}

In [86]:
a.difference(b)

{2, 6, 7}

In [87]:
a.isdisjoint(b)

False

In [90]:
a.issubset(b)

False

In [91]:
a.issuperset(b)

False